html{
  overflow: hidden;
}

body {
  margin: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  background-color: #19a2ae;
  overflow: hidden;

}
.container{
position: absolute;
display:flex;
align-items: center;
justify-content: center;
}

.image-rounded{
  min-width: 100%;
  overflow: hidden;
  }

.topLeftCircle{
position: relative;
display:block;
left: -2rem;
top:-32rem;

}

.bottomRightCircle{
position: relative;
display:block;
top: 23rem;
left:-2rem;

}

.card{
  position: absolute;
  width:22rem;
  height: 23.5rem;
  margin-top: -16rem;
  border-radius: 15px;
  box-shadow: 0 16px 23px 0 rgba(0,0,0,0.2);

}
.card-img-top{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 22rem;
  margin-left:-1px;
  margin-top:-1px;
}
.profile-photo{
  position: absolute;
  border-radius: 50%;
  margin: 5.5rem 122px;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #fff;
}
h5{
  text-align: center;
  margin-top:3.5rem;
  font-size: 18px;
  color: #969696;
}
b{
  font-weight: 700;
  color:#2d3248;
}
hr{
  width: 22rem;
  margin-left: -21px;
}
p{
  color: 	#969696;
  text-align: center;
  font-size:14px;
  padding-bottom:5px;
}
table{
  table-layout: fixed;
  margin-top:25px;

}
.numbers{
  text-align: center;
  font-weight: 700;
  color: 	#2d3248;
  font-size:18px;

}
.description{
  text-align: center;
  color: 	#969696;
  font-size: 11px;
  letter-spacing: 1px;
}
